//Default Font
$base-font-family: 'Open Sans', sans-serif;

$font-familly-regular: 'latoregular', Helvetica, Arial, Sans-serif;
$font-familly-bold: 'latobold', Helvetica, Arial, Sans-serif;


$font-secondary: 'Nunito Sans', sans-serif;

$base-font-size:          	16px;
$base-line-height: 			24px;


$base-color: 				#868C8D;


$base-font-weight: 			300;

////////////////////////
//Other Weight Option///
////////////////////////
$font-regular: 400;
$font-bold: bold;
////////////////////////


$base-heading-color: 		#000000;


$letter-specing-heading: 0.67px;
$letter-specing-subheading: 0.4px;





//Width Variation
$full-width: 		100%;
$half-width: 		$full-width / 2;
$auto-width: 		auto;

