//Global Button Style

.btn{
    text-transform: uppercase;
    padding: 11px 25px;
    cursor: pointer;
    font-family: $base-font-family;
    background-color: $blue-medium;
    color: $white;
    border-radius: 0px;
    font-weight: 600;
    font-size: $base-font-size;
    text-transform: capitalize;
    outline: none;
    border-radius: 43px;
    @include transition-duration(200ms);
    &:hover{
        @include transition-duration(200ms);
        background: #0f71e8;
        color: $white;
    }
    &:active{
        @include transition-duration(200ms);
    }
    &.disable{
        background-color: $btn-disable;
        color: #657A8F;
    }
}

.btn-borderoly{
    border: 1px solid $blue-medium;
    background-color: $white;
    color: $blue-medium;
}


/*Tag*/
.c-tag{
    background-color: rgba(219, 225, 230, 0.4);
    border-radius: 45px;
    padding: 6px 9px 7px 9px;
    font-size: 12px;
    color: #657A8F;
    font-weight: 600;
    display: inline-block;
    i{
        background-color: #DBE1E6;
        border-radius: 50%;
        padding: 5px;
        font-size: 8px;
        margin-right: 5px;
    }

    &.green{
        background-color: #CBF5CF;
        color: #00B30F;
        i{
           
            background-color: rgba(96, 229, 84, 0.3);

        }
    }
}

