//Top Information Area

//Mp Section
.c-location{
	min-height: 600px;
	background-image: url('../images/map.png');
}


//Customize Table
.eyeconic-table{
	margin-bottom: 0px;
	thead{
		tr{
			th{
				background-color: $white !important;
				border-bottom: 2px solid #F8F8F8 !important;
			}
		}
	}
	tbody{
		tr{
			border-bottom: 2px solid #F8F8F8;
			td{
				img{
					&.rounded-circle{
						width: 40px;
    					height: 40px;
					}
				}
			}
			&:nth-child(even){
				background-color: #FAFCFF;
			}

		}
	}
}


.main-content{
	position: relative;
	padding-left: 250px;
	padding-right: 0px;
}
