/*SIDEBAR*/
.main-sidebar{
	.sidebar-menu{
		 li{
		 	&.menu-header{
		 		color: $blue-medium;
		 	}
		 	&.active{
		 		a{
		 			color: $blue-medium;
		 		}
		 	}
		 	a{
		 		color: $blue-light;
		 		&:hover{
		 			background-color: #F4F8FE;
		 			color: $blue-medium;
					font-weight: 600;
		 		}
		 	}
		 }
	}
}

body:not(.sidebar-mini){
	.sidebar-style-2{
		.sidebar-menu {
			> li.active {
				> a:before{
					height: 100%;
				    background-color: $blue-medium;
				}
			}
		}
	}
}

body.sidebar-mini .main-sidebar .sidebar-menu > li.active > a{
	background-color: $blue-medium;
}