//HEARER SECTION
.c-hambarger{
	padding:0 5px;
	i{
		color: #fff;
		font-size: 30px;
	}
}

.c-usermain{
	.dropdown{
		button{
			background-color: rgba(23, 96, 182, 0.55);
			border: none;
			font-size: 14px;
    		padding: 8px 12px;
    		border-radius: 3px;
			span{
    			margin-right: 5px;
    			display: inline-block;
    			overflow: hidden;
    			border-radius: 50%;
    			width: 28px;
				height: 28px;
				vertical-align: middle;
				img{
					width: 100%;
					height: 100%;
				}
			}
		}
	}
}


.c-header{
	background-color: $blue-dark;
	min-height: 50px;
	padding: 12px 15px;
	margin-left: 20%;
	transition: all 500ms;
	&_item{
		display: inline-block;
		vertical-align: middle;
		margin: 0 5px;
	}
}