//HEARER SECTION

.c-header{
	background: $dark-blue;
	&__call{
		background: $dark-blue;
		@include media-breakpoint(tab-mini){
			min-width: 220px;
			background: transparent;
			padding-top: 4px;
		}
		p{
			color: $white;
			text-align: center;
			margin-bottom: 0px;
			padding: 5px 0;
			@include media-breakpoint(tab-mini){
				text-align: left;
			}
			span{
				@include media-breakpoint(tab-mini){
					display: none;
				}
			}
			a{
				color: $brand;
				&:hover{

				}
			}
		}
	}


	&__top{
		background-color: $brand-alt;
		@include media-breakpoint(small){
			padding: 0 0 25px;
			background-color: transparent;
		}
		@include media-breakpoint(tab-mini){
			padding: 25px 0;
		}
		.c-header__call{
			display: none;
			@include media-breakpoint(tab-mini){
				display: block;
			}
		}
	}

	
	&--destination{
		background: url('../images/bg_park_city_sml.jpg') no-repeat;
		background-size: cover;
	    min-height: 630px;
	    background-position: center;
	    @include media-breakpoint(small){
			background: url('../images/bg_park_city_med.jpg') no-repeat;
			background-size: cover;
		}
		@include media-breakpoint(tab-mini){
			background: url('../images/bg_park_city_lrg.jpg') no-repeat;
			background-size: cover;
		}
	}

	//For other inner Pages
	&--inner{
		.c-header__top{
			background-color: $brand-alt;
			padding-bottom: 0px;
			@include media-breakpoint(tab-mini){
				padding: 14px 0;
			}
		}
	}

	//For Home Page
	&--main{
		background: url('../images/bg_home_sml.png') no-repeat;
		background-size: cover;
	    min-height: 650px;
	    background-position: center;
	    @include media-breakpoint(small){
			background: url('../images/bg_home_med.png') no-repeat;
			min-height: 650px;
			background-size: cover;
		}
		@include media-breakpoint(tab-mini){
			background: url('../images/bg_home_lrg.png') no-repeat;
			min-height: 650px;
			background-size: cover;
		}
	}
}

.c-header__call--mobile{
	@include media-breakpoint(tab-mini){
		display: none;
	}
}



.c-header__logo-pan{
	@include media-breakpoint(tab-mini){
		max-width: 310px;
	}
	@include media-breakpoint(desktop){
		max-width: inherit;
	}
	.c-header__logo{
		padding: 14px 0;
		@include media-breakpoint(tab-mini){
			padding: 0 0;
		}
		img{
			&.u-logo{
				width: 120px;
				@include media-breakpoint(small){
					width: 200px;
				}
				@include media-breakpoint(large){
					//width: 200px;
				}
				&.u-logo--small{
					@include media-breakpoint(large){
						display: none;
					}
				}
				&.u-logo--large{
					display: none;
					@include media-breakpoint(large){
						display: block;
					}
				}
			}
		}
	}
}

//Content area
.c-header__content{
	margin-top: 40px;
	position: relative;
	span{
		color: $white;
		font-weight: $font-bold;
	}
	h1{
		@extend span;
		font-weight: $font-regular;
		font-size: $base-font-size + 16;
		line-height: $base-line-height + 36;
		@include media-breakpoint(tab-mini){
			font-size: $base-font-size + 44;
			line-height: $base-line-height + 36;
		}
	}
	p{
		@extend span;
		font-size: $base-font-size - 2;
		line-height: $base-line-height - 3;
		font-weight: $font-regular;
		@include media-breakpoint(tab-mini){
			font-size: $base-font-size + 2;
			line-height: $base-line-height + 3;
			margin-top: 16px;
		}
	}
}

.c-header__main-area{
	.c-header__content{
		h1{
			line-height: $base-line-height + 10;
			@include media-breakpoint(tab-mini){
				line-height: $base-line-height + 36;
			}
		}
	}
}

.c-header_contact-no{
	display: inline-block;
	color: $white;
	margin-bottom: 0;
	a{
		color: $brand;
	}
}



.c-header__location-search{
	.row{
		background: #ffffff;
		margin-left: 0px;
		margin-right: 0px;
	}
	p{
		margin-bottom: 0px;
	}
}



//Banner

.c-banner{
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	.container{
		.c-banner__inner{
			padding-top: 50px;
			h2{
				color: $brand-alt;
				margin-bottom: 15px;
			}

		}	
	}
	&.c-banner--quote{
		background-image: url('../images/bg_request_quote_snowboard_girl_sml.jpg');
		min-height: 300px;
    	background-size: 100%;
    	background-position: bottom;
		@include media-breakpoint(mobile-big){
			background-image: url('../images/bg_request_quote_snowboard_girl_med.jpg');
			background-size: cover;
			min-height: 300px;
			background-position: center center;
		}
		@include media-breakpoint(medium){
			background-image: url('../images/bg_request_quote_snowboard_girl_lrg.jpg');
			min-height: 300px;
		}
	}
}


.c-vpackage{
	.c-luxury__home{
		@include media-breakpoint(tab-mini){
			margin-top: -110px;
		}
		.c-luxury__display{
			.c-luxury__hover-top{

      			padding: 64px 30px;
			}
		}
	}
}