//HEARER SECTION
.c-hambarger{
	padding: 15px;
	i{
		color: #fff;
		font-size: 30px;
	}
}


.c-header{
	background-color: $blue-dark;
	min-height: 50px;
	padding: 15px;
	&_item{
		display: inline-block;
	}
}